.sidebar{
    width: 300px;
    height: 100vh;
    background-color:transparent ;
    backdrop-filter: blur(10px);
    display:  flex;
    padding: 5px 20px;
    flex-direction: column;
    gap: 5%;
    
    box-shadow:5px 5px 5px 1px rgb(175, 86, 18);
}
a{
    color: white;
}
.navlink{
    border: solid 2px rgb(175, 86, 18);
    box-shadow:4px 4px 4px 1px rgb(175, 86, 18);
    margin: 10px 0px;
    padding: 10px 10px;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    border-radius: 10px;
    transition: 0.6s;
    
    
    

}
.navlink:hover{
    background-color:rgba(226, 102, 6, 0.622);
    color: white;
}
.fa-solid{
    position: absolute;
    margin-left: -90px;
    margin-top: 6px;
}
.fa-regular{
    position: absolute;
    margin-left: -120px;
    margin-top: 6px;
    margin-right: 20px;
}
.fa-image{
    margin-left: -105px;
}
.fa-camera{
    margin-left: -100px;
}
.fa-users-gear{
    margin-left: -100px;
}
.fa-users{
    margin-left: -100px;
}